<header>
  <div class="container">
            <div class="my-navbar">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" routerLink="main2"><img src="assets/img3/icon/logo.png" alt=""></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="justify-content: end;">
                        <div class="col-9" id="con9">
                            <nav>
                                <ul class="menu_bar">
                                    <li><a class="menu-text" routerLink="main">HOME</a></li>
                                    <li><a class="menu-text" routerLink="main5">SHOP</a></li>
                                    <li><a class="menu-text" href="">PAGE</a></li>
                                    <li><a class="menu-text" routerLink="main11">BLOG</a></li>
                                    <li><a class="menu-text" routerLink="main19">CONTACT</a></li>
                                </ul>
                            </nav>
                        </div>
                        <nav>
                            <ul class="menu_bar">
                                <li><a class="menu-img" routerLink="login"><img src="assets/img3/icon/user.png" alt=""></a></li>
                                <li><a class="menu-img" href=""><img src="assets/img3/icon/search.png" alt=""></a></li>
                                <li><a class="menu-img" href=""><img src="assets/img3/icon/heart_icon.png" alt=""></a></li>
                                <li><a class="menu-img" routerLink="cartpage"ng><img src="assets/img3/icon/cart_icon.png" alt=""></a></li>
                            </ul>
                        </nav>
                    </div>
                </nav>
            </div>
  </div>
</header>
