<footer>
  <div class="container">
      <div class="row">
          <div class="col-3">
              <div class="address">
                  <a href=""><img src="assets/img/logo.png" alt=""></a>
                  <p>No. 342 - London Oxford Street,</p>
                  <p>012 United States</p>
                  <p>Youremail@gmail.com</p>
                  <p>+0283 838 8393</p>
                  <a href=""><i class="fab fa-facebook-f"></i></a>
                  <a href=""><i class="fab fa-twitter"></i></a>
                  <a href=""><i class="fab fa-invision"></i></a>
                  <a href=""><i class="fab fa-google"></i></a>
                  <a href=""><i class="fab fa-paypal"></i></a>
              </div>
          </div>
          <div class="col-2">
              <div class="useful">
                  <h2>Useful Links</h2>
                  <a href=""><p>About Us</p></a>
                  <a href=""><p>Privacy Policy</p></a>
                  <a href=""><p>Term &amp; Conditions</p></a>
                  <a href=""><p>Contact Us</p></a>
                  <a href=""><p>Help &amp; Support</p></a>
              </div>
          </div>
          <div class="col-2">
              <div class="account">
                  <h2>My Account</h2>
                  <a href=""><p>My Account</p></a>
                  <a href=""><p>My Cart</p></a>
                  <a href=""><p>My WIshlist</p></a>
                  <a href=""><p>Registration</p></a>
                  <a href=""><p>Check Out</p></a>
              </div>
          </div>
          <div class="col-5">
              <div class="subcribe">
                  <h2>Subscribe Our NewSletter</h2>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, eum possimus, esse illo velit quidem voluptate laboriosam, sunt similique provident animi nemo laudantium reiciendis. </p>
              </div>
              <div class="input-group">
                  <input type="search" class="form-control rounded" placeholder="Your email address" aria-label="Your email address" aria-describedby="search-addon">
                  <button type="button" class="btn btn-outline-primary" style="background-color: #fe3e57; color: #fff;">SUBSCRIBE</button>
                  </div>
          </div>
      </div>
      <div class="line_footer">
        <p></p>
      </div>
      <div class="row">
          <div class="col-9">
              <p id="text">© 2019 CodeAstrology. All Rights Reserved.</p>
          </div>
          <div class="col-3">
              <div class="payment d-flex justify-content-end">
                  <p>We Accept</p>
                  <a href=""><img src="assets/img/mastercard.png" alt=""></a>
                  <a href=""><img src="assets/img/visa.png" alt=""></a>
                  <a href=""><img src="assets/img/paypal.png" alt=""></a>
              </div>
          </div>
      </div>
  </div>
</footer>
