<main>
  <div class="home">
      <div class="container">
          <div class="row">
              <div class="col-6">
                  <div class="text_home">
                      <h2>Save Up To 50% Off</h2>
                      <h1>New Collection With Best Price</h1>
                  </div>
                  <div class="btn_home_buy">
                      <a href=""><button>Explore Now</button></a>
                  </div>
              </div>
              <div class="col-6">
                  <div class="img_here_home">
                      <img src="assets/img/clothes_2.jpg" alt="">
                  </div>
              </div>
          </div>
      </div>
  </div>
<!-- ----------------------------Features-------------------------------- -->
  <div class="container">
      <div class="features">
          <div class="row">
              <div class="col-4">
                  <div class="free_ship">
                      <div class="icon">
                          <a href=""><img src="assets/img_1/Car.png" alt=""></a>
                      </div>
                      <div class="text_1">
                          <h2>Free Shipping & Return</h2>
                          <p class="free">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam </p>
                      </div>
                  </div>
              </div>
              <div class="col-4">
                  <div class="days_return">
                      <div class="icon">
                          <a href=""><img src="assets/img_1/time.png" alt=""></a>
                      </div>
                      <div class="text_2">
                          <h2>30 Days Return</h2>
                          <p class="free">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam </p>
                      </div>
                  </div>
              </div>
              <div class="col-4">
                  <div class="support">
                      <div class="icon">
                          <a href=""><img src="assets/img_1/support.png" alt=""></a>
                      </div>
                      <div class="text_3">
                          <h2>24/7 Strong Support</h2>
                          <p class="free">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="container">
    <div class="line_shop"></div>
  </div>
<!-- ----------------------------Trending item--------------------------- -->
  <div class="container">
      <div class="trending">
          <div class="Special_promo">
              <div class="row">
                  <div class="col-8">
                      <div class="item_1">
                          <h3>Special Promo</h3>
                          <h2>Style For Men Fasshion</h2>
                          <p>20% Discount for Male Products in Summer</p>
                          <a href="">Explore More</a>
                      </div>
                  </div>
                  <div class="col-4">
                      <div class="item_2">
                          <p>Accessories</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="Shoes_collection">
              <div class="row">
                  <div class="col-4">
                      <div class="item_3">
                          <p>Shoes Collection</p>
                      </div>
                  </div>
                  <div class="col-8">
                      <div class="item_4">
                          <h3>Style Fasshion</h3>
                          <h2>New Arrival 2020</h2>
                          <p>Buy &amp; Enjoy Our Special Offer!</p>
                          <a href="">Explore More</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
<!-- ---------------------------Products-------------------------------- -->
  <div class="container">
      <div class="blog">
          <div class="blog_item">
              <h2>Our Products</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae suscipit modi</p>
          </div>
          <ul class="ul_menu">
              <a href=""><li>All</li></a>
              <a href=""><li>Popular</li></a>
              <a href=""> <li>Trending</li></a>
              <a href=""><li>Best Sell</li></a>
          </ul>
          <div class="list_home">
              <div class="row">
                  <div class="col-3">
                      <div class="item_blog">
                          <div class="img_wrap ">
                              <img src="assets/img/clothes_1.jpg" alt="">
                              <div class="overload1 d-flex align-items-center justify-content-center">
                                  <ul class="btn_icon">
                                    <div class="search"><i class="bx bx-search"></i></div>
                                    <div class="bag"><i class="fas fa-shopping-bag"></i></div>
                                    <div class="heart"><i class="bx bx-heart"></i></div>
                                  </ul>
                              </div>
                          </div>
                          <ul class="star">
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon_1"><i class="fas fa-star"></i></li>
                          </ul>
                          <h5>Baby Girls Dress Designs</h5>
                          <div class="row">
                              <div class="col-6">
                                  <div class="mark_1">
                                      <p><del>$99.99</del></p>
                                  </div>
                              </div>
                              <div class="col-6">
                                  <div class="mark_2">
                                      <p>$79.99</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-3">
                      <div class="item_product">
                          <div class="img_wrap ">
                              <img src="assets/img/clothes_2.jpg" alt="">
                              <div class="overlay1">
                                  <h2>Sale</h2>
                              </div>
                              <div class="overload1 d-flex align-items-center justify-content-center">
                                  <ul class="btn_icon">
                                    <div class="search"><i class="bx bx-search"></i></div>
                                    <div class="bag"><i class="fas fa-shopping-bag"></i></div>
                                    <div class="heart"><i class="bx bx-heart"></i></div>
                                  </ul>
                              </div>
                          </div>
                          <ul class="star">
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon_1"><i class="fas fa-star"></i></li>
                          </ul>
                          <h5>Baby Girls Dress Designs</h5>
                          <div class="row">
                              <!-- <div class="col-6">
                                  <div class="mark_1">
                                      <p><del>$99.99</del></p>
                                  </div>
                              </div> -->
                              <!-- <div class="col-12"> -->
                                  <div class="mark_2">
                                      <p style="text-align: center;">$79.99</p>
                                  </div>
                              <!-- </div> -->
                          </div>
                      </div>
                  </div>
                  <div class="col-3">
                    <div class="item_blog">
                        <div class="img_wrap ">
                            <img src="assets/img/clothes_3.jpg" alt="">
                            <div class="overload1 d-flex align-items-center justify-content-center">
                                <ul class="btn_icon">
                                  <div class="search"><i class="bx bx-search"></i></div>
                                  <div class="bag"><i class="fas fa-shopping-bag"></i></div>
                                  <div class="heart"><i class="bx bx-heart"></i></div>
                                </ul>
                            </div>
                        </div>
                        <ul class="star">
                            <li id="icon"><i class="fas fa-star"></i></li>
                            <li id="icon"><i class="fas fa-star"></i></li>
                            <li id="icon"><i class="fas fa-star"></i></li>
                            <li id="icon"><i class="fas fa-star"></i></li>
                            <li id="icon_1"><i class="fas fa-star"></i></li>
                        </ul>
                        <h5>Baby Girls Dress Designs</h5>
                        <div class="row">
                            <div class="col-6">
                                <div class="mark_1">
                                    <p><del>$99.99</del></p>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mark_2">
                                    <p>$79.99</p>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="item_product">
                        <div class="img_wrap ">
                            <img src="assets/img/clothes_4.jpg" alt="">
                            <div class="overlay1">
                                <h2>50% Off</h2>
                            </div>
                            <div class="overload1 d-flex align-items-center justify-content-center">
                                <ul class="btn_icon">
                                  <div class="search"><i class="bx bx-search"></i></div>
                                  <div class="bag"><i class="fas fa-shopping-bag"></i></div>
                                  <div class="heart"><i class="bx bx-heart"></i></div>
                                </ul>
                            </div>
                        </div>
                        <ul class="star">
                            <li id="icon"><i class="fas fa-star"></i></li>
                            <li id="icon"><i class="fas fa-star"></i></li>
                            <li id="icon"><i class="fas fa-star"></i></li>
                            <li id="icon"><i class="fas fa-star"></i></li>
                            <li id="icon_1"><i class="fas fa-star"></i></li>
                        </ul>
                        <h5>Baby Girls Dress Designs</h5>
                        <div class="row">
                            <!-- <div class="col-6">
                                <div class="mark_1">
                                    <p><del>$99.99</del></p>
                                </div>
                            </div> -->
                            <!-- <div class="col-12"> -->
                                <div class="mark_2">
                                    <p style="text-align: center;">$79.99</p>
                                </div>
                            <!-- </div> -->
                        </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="item_product">
                        <div class="img_wrap ">
                            <img src="assets/img/clothes_5.jpg" alt="">
                            <div class="overlay1">
                                <h2>50% Off</h2>
                            </div>
                            <div class="overload1 d-flex align-items-center justify-content-center">
                                <ul class="btn_icon">
                                  <div class="search"><i class="bx bx-search"></i></div>
                                  <div class="bag"><i class="fas fa-shopping-bag"></i></div>
                                  <div class="heart"><i class="bx bx-heart"></i></div>
                                </ul>
                            </div>
                        </div>
                        <ul class="star">
                            <li id="icon"><i class="fas fa-star"></i></li>
                            <li id="icon"><i class="fas fa-star"></i></li>
                            <li id="icon"><i class="fas fa-star"></i></li>
                            <li id="icon"><i class="fas fa-star"></i></li>
                            <li id="icon_1"><i class="fas fa-star"></i></li>
                        </ul>
                        <h5>Baby Girls Dress Designs</h5>
                        <div class="row">
                            <!-- <div class="col-6">
                                <div class="mark_1">
                                    <p><del>$99.99</del></p>
                                </div>
                            </div> -->
                            <!-- <div class="col-12"> -->
                                <div class="mark_2">
                                    <p style="text-align: center;">$79.99</p>
                                </div>
                            <!-- </div> -->
                        </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="item_blog">
                        <div class="img_wrap ">
                            <img src="assets/img/clothes_6.jpg" alt="">
                            <div class="overload1 d-flex align-items-center justify-content-center">
                                <ul class="btn_icon">
                                  <div class="search"><i class="bx bx-search"></i></div>
                                  <div class="bag"><i class="fas fa-shopping-bag"></i></div>
                                  <div class="heart"><i class="bx bx-heart"></i></div>
                                </ul>
                            </div>
                        </div>
                        <ul class="star">
                            <li id="icon"><i class="fas fa-star"></i></li>
                            <li id="icon"><i class="fas fa-star"></i></li>
                            <li id="icon"><i class="fas fa-star"></i></li>
                            <li id="icon"><i class="fas fa-star"></i></li>
                            <li id="icon_1"><i class="fas fa-star"></i></li>
                        </ul>
                        <h5>Baby Girls Dress Designs</h5>
                        <div class="row">
                            <div class="col-6">
                                <div class="mark_1">
                                    <p><del>$99.99</del></p>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mark_2">
                                    <p>$79.99</p>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="item_product">
                        <div class="img_wrap ">
                            <img src="assets/img/clothes_1.jpg" alt="">
                            <div class="overload1 d-flex align-items-center justify-content-center">
                                <ul class="btn_icon">
                                  <div class="search"><i class="bx bx-search"></i></div>
                                  <div class="bag"><i class="fas fa-shopping-bag"></i></div>
                                  <div class="heart"><i class="bx bx-heart"></i></div>
                                </ul>
                            </div>
                        </div>
                        <ul class="star">
                            <li id="icon"><i class="fas fa-star"></i></li>
                            <li id="icon"><i class="fas fa-star"></i></li>
                            <li id="icon"><i class="fas fa-star"></i></li>
                            <li id="icon"><i class="fas fa-star"></i></li>
                            <li id="icon_1"><i class="fas fa-star"></i></li>
                        </ul>
                        <h5>Baby Girls Dress Designs</h5>
                        <div class="row">
                            <!-- <div class="col-6">
                                <div class="mark_1">
                                    <p><del>$99.99</del></p>
                                </div>
                            </div> -->
                            <!-- <div class="col-12"> -->
                                <div class="mark_2">
                                    <p style="text-align: center;">$79.99</p>
                                </div>
                            <!-- </div> -->
                        </div>
                    </div>
                  </div>
                  <div class="col-3">
                    <div class="item_blog">
                        <div class="img_wrap ">
                            <img src="assets/img/clothes_2.jpg" alt="">
                            <div class="overlay1">
                                <h2>Sale</h2>
                            </div>
                            <div class="overload1 d-flex align-items-center justify-content-center">
                                <ul class="btn_icon">
                                  <div class="search"><i class="bx bx-search"></i></div>
                                  <div class="bag"><i class="fas fa-shopping-bag"></i></div>
                                  <div class="heart"><i class="bx bx-heart"></i></div>
                                </ul>
                            </div>
                        </div>
                        <ul class="star">
                            <li id="icon"><i class="fas fa-star"></i></li>
                            <li id="icon"><i class="fas fa-star"></i></li>
                            <li id="icon"><i class="fas fa-star"></i></li>
                            <li id="icon"><i class="fas fa-star"></i></li>
                            <li id="icon_1"><i class="fas fa-star"></i></li>
                        </ul>
                        <h5>Baby Girls Dress Designs</h5>
                        <div class="row">
                            <div class="col-6">
                                <div class="mark_1">
                                    <p><del>$99.99</del></p>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mark_2">
                                    <p>$79.99</p>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
<!-- --------------------------Blog_Section--------------------------------->
  <div class="container">
      <div class="Blog_section">
          <div class="blog_item">
              <h2>Blog &amp; News</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae suscipit modi</p>
          </div>
          <div class="text_blog">
              <div class="row">
                  <div class="col-4 ">
                      <img src="assets/img/clothes_1.jpg" alt="">
                      <div class="user">
                          <p>January 19, 2020 by <b>Admin</b></p>
                          <h2>Our Apps User Mobile On His Mobile</h2>
                      </div>
                  </div>
                  <div class="col-4">
                      <img src="assets/img/clothes_2.jpg" alt="">
                      <div class="user">
                          <p>January 19, 2020 by <b>Admin</b></p>
                          <h2>Our Apps User Mobile On His Mobile</h2>
                      </div>
                  </div>
                  <div class="col-4">
                      <img src="assets/img/clothes_3.jpg" alt="">
                      <div class="user">
                          <p>January 19, 2020 by <b>Admin</b></p>
                          <h2>Our Apps User Mobile On His Mobile</h2>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
<!-- --------------------------Testimonial---------------------------------->
  <div class="container">
      <div class="testimonial">
          <div class="row">
              <div class="col-8">
                  <div class="client">
                      <h2>What Our Client Says</h2>
                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo excepturi dolorum molestias impedit tenetur quidem, id, est animi ad distinctio incidunt voluptatum quas, nam laboriosam placeat nulla doloremque officia modi?</p>
                      <h5>Endira Mahi</h5>
                      <p>Graphics Designer</p>
                      <a href=""><i class="fas fa-long-arrow-alt-left"></i></a>
                      <a href=""><i class="fas fa-long-arrow-alt-right"></i></a>
                  </div>
              </div>
              <div class="col-4">
                  <div class="img_client">
                      <img src="assets/img/clothes_6.jpg" alt="">
                  </div>
              </div>
          </div>
      </div>
  </div>
<!-- -------------------------Banner_Sale----------------------------------->
<div class="container">
  <div class="Sale d-flex">
        <div class="img_sale">
            <img src="assets/img/clothes_5.jpg" alt="">
        </div>
        <div class="text_sale">
            <h3>New Colletions 2020</h3>
            <h2>Sale 60% Off</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime, eius aliquam! Rerum, recusandae in enim, beatae exercitationem consectetur eaque molestias aliquam illo consequatur nulla expedita ut voluptates nobis ipsa blanditiis!</p>
            <a href=""><button>Shop Now</button></a>
        </div>
  </div>
</div>
<!-- --------------------------Sponsor_logo-------------------------------->
<div class="container">
  <div class="sponsor_logo">
      <div class="row">
          <div class="col-2">
              <a href=""><img src="assets/img_1/restro.png" alt=""></a>
          </div>
          <div class="col-2">
              <a href=""><img src="assets/img_1/vintage.png" alt=""></a>
          </div>
          <div class="col-2">
              <a href=""><img src="assets/img_1/hipster.png" alt=""></a>
          </div>
          <div class="col-2">
              <a href=""><img src="assets/img_1/restro_logo.png" alt=""></a>
          </div>
          <div class="col-2">
              <a href=""><img src="assets/img_1/design.png" alt=""></a>
          </div>
          <div class="col-2">
              <a href=""><img src="assets/img_1/creatives.png" alt=""></a>
          </div>
      </div>
  </div>
</div>
<!-- --------------------------Instagram------------------------------------>
  <div class="insta">
      <div class="container">
        <div class="follow d-flex align-items-center justify-content-center">
          <a href=""><button>Follow Us @ Instagram</button></a>
        </div>
      </div>
  </div>
</main>
