<div class="shop_right">
  <div class="container">
      <div class="page_title">
          <h2>Shop Page</h2>
          <ul class="breadcamp d-flex justify-content-lg-center">
              <a href=""><li><i class="fas fa-home"></i></li></a>
              <a href=""><li>Home</li></a>
              <a href=""><li><i class="fas fa-angle-double-right"></i></li></a>
              <a href=""><li>Check Out</li></a>
          </ul>
      </div>
  </div>
</div>
<div class="main">
  <div class="container">
      <div class="row">
          <div class="col-8">
              <div class="contact-info">
                  <h4>Contact Infomation</h4>
                  <div class="first-name">
                      <div class="col-6">
                          <div class="first">
                              <p>Fist name*</p>
                              <input id="input1" type="text" name="">
                          </div>
                      </div>
                      <div class="col-6">
                          <div class="last-name">
                              <p>Last name*</p>
                              <input id="input1" type="text" name="">
                          </div>
                      </div>
                  </div>
                  <div class="country">
                      <p>Country*</p>
                      <input id="input1" type="text">
                  </div>
                  <div class="address">
                      <p>Address*</p>
                      <input id="input1" type="text" placeholder="Street Address">
                      <input id="input1" type="text" name="" placeholder="Apartment, Unit etc(optional)">
                  </div>
                  <div class="Town">
                      <p>Town/city*</p>
                      <input id="input1" type="text" name="">
                  </div>
                  <div class="Country">
                      <p>Country/Stage*</p>
                      <input id="input1" type="text">
                  </div>
                  <div class="post">
                      <p>Postcode/Zip*</p>
                      <input id="input1" type="text">
                  </div>
                  <div class="phone">
                      <div class="col-6">
                          <div class="phone1">
                              <p>Phone*</p>
                              <input id="input1" type="text" name="">
                          </div>
                      </div>
                      <div class="col-6">
                          <div class="mail">
                              <p>Mail*</p>
                              <input id="input1" type="text" name="">
                          </div>
                      </div>
                  </div>
                  <div class="login">
                      <p>Alredy have an account? <a href="">Log in</a> Or <a href="">Create account</a></p>
                  </div>
                  <div class="Order">
                      <p>Order Notes(optional)</p>
                      <textarea name="" id="" rows="10"></textarea>
                  </div>
              </div>
          </div>
          <div class="col-4">
              <div class="your-order">
                  <div class="your-product">
                      <div class="title-order">
                          <h4>YOUR ORDER</h4>
                      </div>
                      <div class="product-man">
                          <p>Products</p>
                          <div class="man-apple">
                              <div class="man-watch">
                                  <p>Man apple watch</p>
                                  <p>%192.00</p>
                              </div>
                              <div class="man-watch">
                                  <p>Sweetshirt</p>
                                  <p>%48.00</p>
                              </div>
                              <div class="man-watch">
                                  <p>Polo T-shirt</p>
                                  <p>%39.00</p>
                              </div>
                          </div>
                          <div class="subt">
                              <p>Subtotal</p>
                              <p>$285.00</p>
                          </div>
                          <div class="ship">
                              <p>Shipping</p>
                              <p>$0</p>
                          </div>
                          <div class="tot">
                              <p>Total</p>
                              <p style="color: #fe3e57;">$285.00</p>
                          </div>
                      </div>
                  </div>
                  <div class="payment1">
                      <div class="title-payment">
                          <h4>Payment Method</h4>
                      </div>
                      <div class="check">
                          <div class="check1">
                              <input type="checkbox" name="" id="">
                              <p>Check Payment</p>
                          </div>
                          <div class="nd">
                              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos illum placeat mollitia quae nam praesentium labore ab beatae nostrum in recusandae sunt, cum esse vitae, non repellat ut ad eveniet?</p>
                          </div>
                      </div>
                      <div class="check2">
                          <div class="check1">
                              <input type="checkbox" name="" id="">
                              <p>Paypal</p>
                          </div>
                          <div class="nd">
                              <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos illum placeat mollitia quae nam praesentium labore ab beatae nostrum in recusandae sunt, cum esse vitae, non repellat ut ad eveniet?</p>
                          </div>
                      </div>
                      <button>PLACE ORDER</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
