<div class="Products_2">
  <div class="item">
      <div class="row">
          <div class="col-4">
              <div class="item_img">
                  <img src="assets/img/clothes_1.jpg" alt="">
                  <div class="hese d-flex justify-content-center align-items-center">
                      <div class="search "><i class="bx bx-search"></i></div>
                      <div class="heart"><i class="bx bx-heart"></i></div>
                  </div>
              </div>
          </div>
          <div class="col-8">
              <div class="title_right">
                  <h5 (click)="abc()">White Polo Men's T-Shirt</h5>
              </div>
              <div class="rate d-flex">
                  <p>$34.00</p>
                  <p><del>$27.00</del></p>
                  <li id="icon"><i class="fas fa-star"></i></li>
                  <li id="icon"><i class="fas fa-star"></i></li>
                  <li id="icon"><i class="fas fa-star"></i></li>
                  <li id="icon"><i class="fas fa-star"></i></li>
                  <li id="icon_1"><i class="fas fa-star"></i></li>
              </div>
              <p style="color: transparent;
              text-shadow: 0 0 1px rgba(0,0,0,0.5);">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, quam iusto sed magnam dolorem recusandae doloremque.</p>
              <button id="details_button">Add to cart</button>
          </div>
      </div>
  </div>
  <div class="item">
    <div class="row">
        <div class="col-4">
            <div class="item_img">
                <img src="assets/img/clothes_2.jpg" alt="">
                <div class="hese d-flex justify-content-center align-items-center">
                    <div class="search "><i class="bx bx-search"></i></div>
                    <div class="heart"><i class="bx bx-heart"></i></div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="title_right">
                <h5 (click)="abc()">White Polo Men's T-Shirt</h5>
            </div>
            <div class="rate d-flex">
                <p>$34.00</p>
                <p><del>$27.00</del></p>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon_1"><i class="fas fa-star"></i></li>
            </div>
            <p style="color: transparent;
            text-shadow: 0 0 1px rgba(0,0,0,0.5);">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, quam iusto sed magnam dolorem recusandae doloremque.</p>
            <button id="details_button">Add to cart</button>
        </div>
    </div>
  </div>
  <div class="item">
    <div class="row">
        <div class="col-4">
            <div class="item_img">
                <img src="assets/img/clothes_3.jpg" alt="">
                <div class="hese d-flex justify-content-center align-items-center">
                    <div class="search "><i class="bx bx-search"></i></div>
                    <div class="heart"><i class="bx bx-heart"></i></div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="title_right">
                <h5 (click)="abc()">White Polo Men's T-Shirt</h5>
            </div>
            <div class="rate d-flex">
                <p>$34.00</p>
                <p><del>$27.00</del></p>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon_1"><i class="fas fa-star"></i></li>
            </div>
            <p style="color: transparent;
            text-shadow: 0 0 1px rgba(0,0,0,0.5);">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, quam iusto sed magnam dolorem recusandae doloremque.</p>
            <button id="details_button">Add to cart</button>
        </div>
    </div>
  </div>
  <div class="item">
    <div class="row">
        <div class="col-4">
            <div class="item_img">
                <img src="assets/img/clothes_4.jpg" alt="">
                <div class="hese d-flex justify-content-center align-items-center">
                    <div class="search "><i class="bx bx-search"></i></div>
                    <div class="heart"><i class="bx bx-heart"></i></div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="title_right">
                <h5 (click)="abc()">White Polo Men's T-Shirt</h5>
            </div>
            <div class="rate d-flex">
                <p>$34.00</p>
                <p><del>$27.00</del></p>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon_1"><i class="fas fa-star"></i></li>
            </div>
            <p style="color: transparent;
            text-shadow: 0 0 1px rgba(0,0,0,0.5);">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, quam iusto sed magnam dolorem recusandae doloremque.</p>
            <button id="details_button">Add to cart</button>
        </div>
    </div>
  </div>
  <div class="item">
    <div class="row">
        <div class="col-4">
            <div class="item_img">
                <img src="assets/img/clothes_5.jpg" alt="">
                <div class="hese d-flex justify-content-center align-items-center">
                    <div class="search "><i class="bx bx-search"></i></div>
                    <div class="heart"><i class="bx bx-heart"></i></div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="title_right">
                <h5 (click)="abc()">White Polo Men's T-Shirt</h5>
            </div>
            <div class="rate d-flex">
                <p>$34.00</p>
                <p><del>$27.00</del></p>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon_1"><i class="fas fa-star"></i></li>
            </div>
            <p style="color: transparent;
            text-shadow: 0 0 1px rgba(0,0,0,0.5);">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, quam iusto sed magnam dolorem recusandae doloremque.</p>
            <button id="details_button">Add to cart</button>
        </div>
    </div>
  </div>
  <div class="item">
    <div class="row">
        <div class="col-4">
            <div class="item_img">
                <img src="assets/img/clothes_6.jpg" alt="">
                <div class="hese d-flex justify-content-center align-items-center">
                    <div class="search "><i class="bx bx-search"></i></div>
                    <div class="heart"><i class="bx bx-heart"></i></div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="title_right">
                <h5 (click)="abc()">White Polo Men's T-Shirt</h5>
            </div>
            <div class="rate d-flex">
                <p>$34.00</p>
                <p><del>$27.00</del></p>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon_1"><i class="fas fa-star"></i></li>
            </div>
            <p style="color: transparent;
            text-shadow: 0 0 1px rgba(0,0,0,0.5);">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, quam iusto sed magnam dolorem recusandae doloremque.</p>
            <button id="details_button">Add to cart</button>
        </div>
    </div>
  </div>
  <div class="item">
    <div class="row">
        <div class="col-4">
            <div class="item_img">
                <img src="assets/img/clothes_1.jpg" alt="">
                <div class="hese d-flex justify-content-center align-items-center">
                    <div class="search "><i class="bx bx-search"></i></div>
                    <div class="heart"><i class="bx bx-heart"></i></div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="title_right">
                <h5 (click)="abc()">White Polo Men's T-Shirt</h5>
            </div>
            <div class="rate d-flex">
                <p>$34.00</p>
                <p><del>$27.00</del></p>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon_1"><i class="fas fa-star"></i></li>
            </div>
            <p style="color: transparent;
            text-shadow: 0 0 1px rgba(0,0,0,0.5);">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, quam iusto sed magnam dolorem recusandae doloremque.</p>
            <button id="details_button">Add to cart</button>
        </div>
    </div>
  </div>
  <div class="item">
    <div class="row">
        <div class="col-4">
            <div class="item_img">
                <img src="assets/img/clothes_2.jpg" alt="">
                <div class="hese d-flex justify-content-center align-items-center">
                    <div class="search "><i class="bx bx-search"></i></div>
                    <div class="heart"><i class="bx bx-heart"></i></div>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="title_right">
                <h5 (click)="abc()">White Polo Men's T-Shirt</h5>
            </div>
            <div class="rate d-flex">
                <p>$34.00</p>
                <p><del>$27.00</del></p>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon_1"><i class="fas fa-star"></i></li>
            </div>
            <p style="color: transparent;
            text-shadow: 0 0 1px rgba(0,0,0,0.5);">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates, quam iusto sed magnam dolorem recusandae doloremque.</p>
            <button id="details_button">Add to cart</button>
        </div>
    </div>
  </div>
</div>
