<div class="shop_right">
  <div class="container">
      <div class="page_title">
          <h2>Shop Page</h2>
          <ul class="breadcamp d-flex justify-content-lg-center">
              <a href=""><li><i class="fas fa-home"></i></li></a>
              <a href=""><li>Home</li></a>
              <a href=""><li><i class="fas fa-angle-double-right"></i></li></a>
              <a href=""><li>Cart Page</li></a>
          </ul>
      </div>
  </div>
</div>
<main>
  <div class="container">
      <div class="row">
          <div class="col-8">
              <div class="bog-content">
                  <div class="item-product">
                      <img id="img1" src="assets/img/clothes_1.jpg" alt="">
                      <div class="row">
                          <div class="by-admin">
                              <div class="by-admin1">
                                  <img id="smart-obj1" src="assets/img3/icon/Shape 1.png" alt="">
                                  <p>10 January 2020</p>
                              </div>
                              <div class="by-admin1">
                                  <img id="smart-obj1" src="assets/img3/icon/Comment.png" alt="">
                                  <p>3 comments</p>
                              </div>
                              <div class="by-admin1">
                                  <img id="smart-obj1" src="assets/img3/icon/user.png" alt="">
                                  <p>By Admin</p>
                              </div>
                          </div>
                      </div>
                      <div class="title-admin">
                          <h6>In Particular The Global Word of Lorem Ipsum Asap Tempor</h6>
                      </div>
                      <div class="item-content">
                          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae quos laborum obcaecati ratione atque aliquid veniam laboriosam fugit iste, enim eius autem, inventore sint eos. Fuga magnam cupiditate adipisci possimus!</p>
                      </div>
                      <div class="item-content1">
                          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae quos laborum obcaecati ratione atque aliquid veniam laboriosam fugit iste, enim eius autem, inventore sint eos. Fuga magnam cupiditate adipisci possimus!</p>
                      </div>
                      <div class="item-content">
                          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae quos laborum obcaecati ratione atque aliquid veniam laboriosam fugit iste, enim eius autem, inventore sint eos. Fuga magnam cupiditate adipisci possimus!</p>
                      </div>
                      <div class="item-content2">
                          <div class="tempalte">
                            <img id="abc" src="assets/img/clothes_2.jpg" alt="">
                          </div>
                          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla possimus obcaecati autem beatae. Excepturi ab maiores aperiam tenetur distinctio dicta vero incidunt ducimus repellendus voluptatem eligendi blanditiis, deleniti earum tempora!</p>
                      </div>
                  </div>
                  <div class="item-comment">
                      <div class="tag">
                          <p style="opacity: 0.6;"><b>TAGS:</b> Fashion, Style</p>
                          <div class="tag-img">
                              <b>SHARE: </b>
                              <a href="">
                                  <img src="assets/img3/icon/facebook.png" alt="">
                              </a>
                              <a href="">
                                  <img src="assets/img3/icon/twiter.png" alt="">
                              </a>
                              <a href="">
                                  <img src="assets/img3/icon/in.png" alt="">
                              </a>
                              <a href="">
                                  <img src="assets/img3/icon/google.png" alt="">
                              </a>
                              <a href="">
                                  <img src="assets/img3/icon/p.png" alt="">
                              </a>
                          </div>
                      </div>
                      <div class="item-content3">
                          <img src="assets/img/clothes_3.jpg" alt="">
                          <div class="john">
                              <h5>JHON DOE</h5>
                              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla possimus obcaecati autem beatae. Excepturi ab maiores aperiam tenetur distinctio dicta vero incidunt ducimus repellendus voluptatem eligendi blanditiis, deleniti earum tempora!</p>
                          </div>
                      </div>
                      <div class="comment">
                          <h4>02 COMMENTS</h4>
                          <div class="item-content4">
                              <img src="assets/img/clothes_4.jpg" alt="">
                              <div class="doe">
                                  <div class="days">
                                      <h6>MICHLE JHON</h6>
                                      <p>2 days ago</p>
                                  </div>
                                  <div class="reply">
                                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla possimus obcaecati autem beatae. Excepturi ab maiores aperiam tenetur distinctio dicta vero incidunt ducimus repellendus voluptatem eligendi blanditiis, deleniti earum tempora!</p>
                                      <div class="rely1">
                                          <img src="assets/img3/icon/reply.png" alt="">
                                          <p>Reply</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="item-content4">
                              <img src="assets/img/clothes_5.jpg" alt="">
                              <div class="doe">
                                  <div class="days">
                                      <h6>MICHLE JHON</h6>
                                      <p>2 days ago</p>
                                  </div>
                                  <div class="reply">
                                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla possimus obcaecati autem beatae. Excepturi ab maiores aperiam tenetur distinctio dicta vero incidunt ducimus repellendus voluptatem eligendi blanditiis, deleniti earum tempora!</p>
                                      <div class="rely1">
                                          <img src="assets/img3/icon/reply.png" alt="">
                                          <p>Reply</p>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="leave">
                          <h4>LEAVE A REPLY</h4>
                          <div class="row">
                              <div class="col-6">
                                  <input id="reply1" type="text" placeholder="Your name">
                              </div>
                              <div class="col-6">
                                  <input id="reply2" type="text" placeholder="Your mail">
                              </div>
                          </div>
                          <textarea name="" id="" cols="110" rows="10" placeholder="Your comment"></textarea>
                      </div>
                  </div>
              </div>
              <div class="load-more">
                  <button>LOAD MORE</button>
              </div>
          </div>
          <div class="col-4">
              <div class="search">
                  <h3>SEARCH</h3>
                  <div class="input-group">
                      <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon">
                      <button type="button" class="btn btn-outline-primary">search</button>
                  </div>
              </div>
              <div class="author">
                  <div class="author-img">
                      <img src="assets/img/clothes_4.jpg" alt="">
                  </div>
                  <div class="name-design">
                      <h5>Tom D.Maianay</h5>
                      <p>CEO &amp; Founder</p>
                  </div>
                  <div class="text_details">
                      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore modi ut molestias sequi dolore, et, nulla consequatur porro tempore mollitia cum nostrum corrupti fugiat iste numquam, alias praesentium temporibus cupiditate.</p>
                  </div>
                  <div class="social-icon">
                      <a href=""><img src="assets/img3/icon/facebook.png" alt=""></a>
                      <a href=""><img src="assets/img3/icon/twiter.png" alt=""></a>
                      <a href=""><img src="assets/img3/icon/google.png" alt=""></a>
                      <a href=""><img src="assets/img3/icon/p.png" alt=""></a>
                  </div>
              </div>
              <div class="latest-post">
                  <h3>LATEST POST</h3>
                  <div class="blog_details">
                      <div class="d-flex">
                        <div class="details-img">
                            <img src="assets/img/clothes_6.jpg" alt="">
                        </div>
                        <div class="details-content">
                            <div class="details-text">
                                <h6>Lorem ipsum dolor suitabl amet, adiping elit.</h6>
                            </div>
                            <div class="details-date">
                                <img src="assets/img3/icon/Shape 1.png" alt="">
                                <p>16 Feb, 2019</p>
                            </div>
                        </div>
                      </div>
                  </div>
                  <div class="blog_details">
                    <div class="d-flex">
                      <div class="details-img">
                          <img src="assets/img/clothes_6.jpg" alt="">
                      </div>
                      <div class="details-content">
                          <div class="details-text">
                              <h6>Lorem ipsum dolor suitabl amet, adiping elit.</h6>
                          </div>
                          <div class="details-date">
                              <img src="assets/img3/icon/Shape 1.png" alt="">
                              <p>16 Feb, 2019</p>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="blog_details">
                    <div class="d-flex">
                      <div class="details-img">
                          <img src="assets/img/clothes_6.jpg" alt="">
                      </div>
                      <div class="details-content">
                          <div class="details-text">
                              <h6>Lorem ipsum dolor suitabl amet, adiping elit.</h6>
                          </div>
                          <div class="details-date">
                              <img src="assets/img3/icon/Shape 1.png" alt="">
                              <p>16 Feb, 2019</p>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="blog_details">
                    <div class="d-flex">
                      <div class="details-img">
                          <img src="assets/img/clothes_6.jpg" alt="">
                      </div>
                      <div class="details-content">
                          <div class="details-text">
                              <h6>Lorem ipsum dolor suitabl amet, adiping elit.</h6>
                          </div>
                          <div class="details-date">
                              <img src="assets/img3/icon/Shape 1.png" alt="">
                              <p>16 Feb, 2019</p>
                          </div>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="categories">
                  <h3>CATEGORIES</h3>
                  <aside>
                      <ul>
                          <li><a href="">
                              <p>Women</p>
                              <p>48</p>
                          </a></li>
                          <li><a href="">
                              <p>Man</p>
                              <p>30</p>
                          </a></li>
                          <li><a href="">
                              <p>Sale Products</p>
                              <p>92</p>
                          </a></li>
                          <li><a href="">
                              <p>Fashion</p>
                              <p>121</p>
                          </a></li>
                          <li><a href="">
                              <p>Hot Dresses</p>
                              <p>52</p>
                          </a></li>
                          <li><a href="">
                              <p>Accesorier</p>
                              <p>88</p>
                          </a></li>
                      </ul>
                  </aside>
              </div>
              <div class="popular-tags">
                  <h3>POPULAR TAGS</h3>
                  <div class="tags">
                      <button>Sweetshirt</button>
                      <button>Man Accessories</button>
                      <button>Fashion</button>
                      <button>Polo</button>
                      <button>T-shirt</button>
                      <button>Jwelley</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</main>
