<main>
  <div class="shop_right">
      <div class="container">
          <div class="page_title">
              <h2>Shop Page</h2>
              <ul class="breadcamp d-flex justify-content-lg-center">
                  <a href=""><li><i class="fas fa-home"></i></li></a>
                  <a href=""><li>Home</li></a>
                  <a href=""><li><i class="fas fa-angle-double-right"></i></li></a>
                  <a href=""><li>Login</li></a>
              </ul>
          </div>
      </div>
    </div>
  <div class="container">
      <div class="login_form">
          <div class="tab d-flex justify-content-center">
              <h4 (click)="abc()">REGISTER</h4>
              <h4>LOGIN</h4>
          </div>
          <div class="login_web">
              <label>Username : </label>
              <input type="text" placeholder="Enter Username" name="username" required="">
              <label>Password : </label>
              <input type="password" placeholder="Enter Password" name="password" required="">
              <input type="checkbox" checked="checked"> Remember me
              <button type="submit">Login</button>
              <button type="button" class="cancelbtn"> Cancel</button>
              Forgot <a href="#"> password? </a>
          </div>
      </div>
  </div>
</main>
