<main >
  <div class="bg_img">
    <div class="banner">
      <div class="container">
          <div class="row">
              <div class="col-6">
                  <div class="text">
                      <h1>New Season</h1>
                      <h1>New Brand Collection</h1>
                      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore labore odit error deserunt.</p>
                  </div>
                  <div class="btn_buy">
                      <a href=""><button>Buy Now</button></a>
                  </div>
              </div>
              <div class="col-6">
                  <div class="img_here">
                      <img src="assets/img/clothes_1.jpg" alt="">
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="container">
        <!-- -------------------------------------Features-------------------------------- -->
        <div class="features">
            <div class="row">
                <div class="col-4">
                    <div class="free_ship">
                        <div class="icon">
                            <a href=""><img src="assets/img/car.jpg" alt=""></a>
                        </div>
                        <div class="text_1">
                            <h2>Free Shipping Order $100</h2>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam </p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="days_return">
                        <div class="icon">
                            <a href=""><img src="assets/img/load.jpg" alt=""></a>
                        </div>
                        <div class="text_2">
                            <h2>30 Days Easy Return</h2>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam </p>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="support">
                        <div class="icon">
                            <a href=""><img src="assets/img/tay.jpg" alt=""></a>
                        </div>
                        <div class="text_3">
                            <h2>24/7 Customer Support</h2>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ---------------------------------Categories----------------------------------- -->
        <div class="categories">
            <div class="title_cate">
                <h2>Top Categoiries</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae suscipit modi libero</p>
                <p>sit amet consectetur, adipisicing elit.</p>
            </div>
            <div class="content_cate">
                <div class="row">
                    <div class="col-4">
                        <div class="cate_1">
                            <p>Up To 40% Off</p>
                            <h2>Shoes &amp; Jewellry</h2>
                            <h3>Explore More</h3>
                        </div>
                    </div>
                        <div class="col-8">
                            <div class="cate_2">
                                <p>New Arrival</p>
                                <h2>Clothes &amp; Accessories</h2>
                                <h3>Explore More</h3>
                            </div>
                            <div class="cate_34">
                                <div class="row">
                                <div class="col-6">
                                    <div class="cate_3">
                                        <p>Trending Now</p>
                                        <h2>Men's Fashion</h2>
                                        <h3>Explore More</h3>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="cate_4">
                                        <p>Hot Collection</p>
                                        <h2>Girl's Fashion</h2>
                                        <h3>Explore More</h3>
                                    </div>
                                </div>
                        </div>
                    </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- -----------------------------About shop-------------------------------------- -->
        <div class="about_shop">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="video-content1">
                            <iframe width="538px" height="480px" src="https://www.youtube.com/embed/sBCn9lrSniw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="trend-content">
                            <h6>WINTER COLLECTION 20% OFF</h6>
                            <h1>TRENDING FASHION</h1>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit mollitia, esse harum quam quod assumenda blanditiis quaerat.Facilis, cumque nihil natus excepturi consequatur in iste quaerat provident amet temporibus recusandae?</p>
                            <button>VIEW NOW</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ---------------------------Trending Product---------------------------------- -->
        <div class="container">
            <div class="trending_product">
                <h1>TRENDING PRODUCTS</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, tenetur culpa voluptatem, voluptas</p>
                <p>sit amet consectetur, adipisicing elit.</p>
            </div>
            <div class="list_product">
                <div class="row">
                    <div class="col-4">
                        <div class="item_product">
                            <div class="img_wrap">
                                <img src="assets/img/clothes_1.jpg" alt="">
                                <div class="overlay">
                                    <h2>Sale</h2>
                                </div>
                                <div class="overload">
                                    <ul class="btn_icon d-flex justify-content-center align-content-center">
                                      <div class="search"><i class="bx bx-search"></i></div>
                                      <div class="bag"><i class="fas fa-shopping-bag"></i></div>
                                      <div class="heart"><i class="bx bx-heart"></i></div>
                                    </ul>
                                </div>
                            </div>
                            <ul class="star">
                                <li id="icon"><i class="fas fa-star"></i></li>
                                <li id="icon"><i class="fas fa-star"></i></li>
                                <li id="icon"><i class="fas fa-star"></i></li>
                                <li id="icon"><i class="fas fa-star"></i></li>
                                <li id="icon_1"><i class="fas fa-star"></i></li>
                            </ul>
                            <h5>While Polo Men's T-Shirt</h5>
                            <div class="row">
                                <div class="col-6">
                                    <div class="money_1">
                                        <p>$34.00</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="money_2">
                                        <p><del>$27.00</del></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                      <div class="item_product">
                          <div class="img_wrap">
                              <img src="assets/img/clothes_2.jpg" alt="">
                              <div class="overlay">
                                  <h2>Sale</h2>
                              </div>
                              <div class="overload">
                                  <ul class="btn_icon d-flex justify-content-center align-content-center">
                                    <div class="search"><i class="bx bx-search"></i></div>
                                    <div class="bag"><i class="fas fa-shopping-bag"></i></div>
                                    <div class="heart"><i class="bx bx-heart"></i></div>
                                  </ul>
                              </div>
                          </div>
                          <ul class="star">
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon_1"><i class="fas fa-star"></i></li>
                          </ul>
                          <h5>While Polo Men's T-Shirt</h5>
                          <div class="row">
                              <div class="col-6">
                                  <div class="money_1">
                                      <p>$34.00</p>
                                  </div>
                              </div>
                              <div class="col-6">
                                  <div class="money_2">
                                      <p><del>$27.00</del></p>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="item_product">
                          <div class="img_wrap">
                              <img src="assets/img/clothes_3.jpg" alt="">
                              <div class="overlay">
                                  <h2>Sale</h2>
                              </div>
                              <div class="overload">
                                  <ul class="btn_icon d-flex justify-content-center align-content-center">
                                    <div class="search"><i class="bx bx-search"></i></div>
                                    <div class="bag"><i class="fas fa-shopping-bag"></i></div>
                                    <div class="heart"><i class="bx bx-heart"></i></div>
                                  </ul>
                              </div>
                          </div>
                          <ul class="star">
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon_1"><i class="fas fa-star"></i></li>
                          </ul>
                          <h5>While Polo Men's T-Shirt</h5>
                          <div class="row">
                              <div class="col-6">
                                  <div class="money_1">
                                      <p>$34.00</p>
                                  </div>
                              </div>
                              <div class="col-6">
                                  <div class="money_2">
                                      <p><del>$27.00</del></p>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="item_product">
                          <div class="img_wrap">
                              <img src="assets/img/clothes_4.jpg" alt="">
                              <div class="overlay">
                                  <h2>Sale</h2>
                              </div>
                              <div class="overload">
                                  <ul class="btn_icon d-flex justify-content-center align-content-center">
                                    <div class="search"><i class="bx bx-search"></i></div>
                                    <div class="bag"><i class="fas fa-shopping-bag"></i></div>
                                    <div class="heart"><i class="bx bx-heart"></i></div>
                                  </ul>
                              </div>
                          </div>
                          <ul class="star">
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon_1"><i class="fas fa-star"></i></li>
                          </ul>
                          <h5>While Polo Men's T-Shirt</h5>
                          <div class="row">
                              <div class="col-6">
                                  <div class="money_1">
                                      <p>$34.00</p>
                                  </div>
                              </div>
                              <div class="col-6">
                                  <div class="money_2">
                                      <p><del>$27.00</del></p>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="item_product">
                          <div class="img_wrap">
                              <img src="assets/img/clothes_5.jpg" alt="">
                              <div class="overlay">
                                  <h2>Sale</h2>
                              </div>
                              <div class="overload">
                                  <ul class="btn_icon d-flex justify-content-center align-content-center">
                                    <div class="search"><i class="bx bx-search"></i></div>
                                    <div class="bag"><i class="fas fa-shopping-bag"></i></div>
                                    <div class="heart"><i class="bx bx-heart"></i></div>
                                  </ul>
                              </div>
                          </div>
                          <ul class="star">
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon_1"><i class="fas fa-star"></i></li>
                          </ul>
                          <h5>While Polo Men's T-Shirt</h5>
                          <div class="row">
                              <div class="col-6">
                                  <div class="money_1">
                                      <p>$34.00</p>
                                  </div>
                              </div>
                              <div class="col-6">
                                  <div class="money_2">
                                      <p><del>$27.00</del></p>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                    <div class="col-4">
                      <div class="item_product">
                          <div class="img_wrap">
                              <img src="assets/img/clothes_6.jpg" alt="">
                              <div class="overlay">
                                  <h2>Sale</h2>
                              </div>
                              <div class="overload">
                                  <ul class="btn_icon d-flex justify-content-center align-content-center">
                                    <div class="search"><i class="bx bx-search"></i></div>
                                    <div class="bag"><i class="fas fa-shopping-bag"></i></div>
                                    <div class="heart"><i class="bx bx-heart"></i></div>
                                  </ul>
                              </div>
                          </div>
                          <ul class="star">
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon_1"><i class="fas fa-star"></i></li>
                          </ul>
                          <h5>While Polo Men's T-Shirt</h5>
                          <div class="row">
                              <div class="col-6">
                                  <div class="money_1">
                                      <p>$34.00</p>
                                  </div>
                              </div>
                              <div class="col-6">
                                  <div class="money_2">
                                      <p><del>$27.00</del></p>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                    <div class="btn-load">
                        <button>LOAD MORE</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ------------------------Deal of day ----------------------------------------- -->
        <div class="deal_of_day">
                <div class="title">
                    <h2>Style Fashion</h2>
                    <h1>Deal Of The Day</h1>
                    <div class="time_counter">
                        <button class="hours">
                            <h3>28</h3>
                            <p>Days</p>
                        </button>
                        <button class="hours">
                            <h3>08</h3>
                            <p>Hours</p>
                        </button>
                        <button class="hours">
                            <h3>58</h3>
                            <p>Minutes</p>
                        </button>
                        <button class="hours">
                            <h3>45</h3>
                            <p>Seconds</p>
                        </button>
                    </div>
                    <button id="shop-page">Shop Now</button>
                </div>
        </div>
        <!-- -------------------------------Sponsor---------------------------------------- -->
        <div class="container">
            <div class="Sponsor">
                <div class="row">
                    <div class="col-2">
                        <ul class="sponser">
                            <li><a href=""><i><img src="assets/img/luxo_brand.png" alt=""></i></a></li>
                        </ul>
                    </div>
                    <div class="col-2">
                        <ul>
                            <li><a href=""><i><img src="assets/img/brand.png" alt=""></i></a></li>
                        </ul>
                    </div>
                    <div class="col-2">
                        <ul>
                            <li><a href=""><i><img src="assets/img/luis.png" alt=""></i></a></li>
                        </ul>
                    </div>
                    <div class="col-2">
                        <ul>
                            <li><a href=""><i><img src="assets/img/lux.png" alt=""></i></a></li>
                        </ul>
                    </div>
                    <div class="col-2">
                        <ul>
                            <li><a href=""><i><img src="assets/img/luxo.png" alt=""></i></a></li>
                        </ul>
                    </div>
                    <div class="col-2">
                        <ul>
                            <li><a href=""><i><img src="assets/img/brand_name.png" alt=""></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- -------------------------Form Our Blog---------------------------------------- -->
        <div class="container">
            <div class="title_blog">
              <div class="blog_section">
                  <h1>Form Our Blog</h1>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, tenetur culpa voluptatem, voluptas</p>
                  <p>sit amet consectetur, adipisicing elit.</p>
              </div>
              <div class="blog">
                  <div class="row">
                      <div class="col-4">
                          <div class="boder_page">
                            <img src="assets/img/clothes_1.jpg" alt="">
                            <div class="row">
                                <div class="col-6 ">
                                    <div class="admin_page">
                                        <i class="fas fa-user"></i>
                                        <p>By Admin</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="date_page">
                                        <i class="fas fa-clock"></i>
                                        <p>10 January, 2020</p>
                                    </div>
                                </div>
                                <div class="item_page">
                                    <h2>Our Apps User Mobile On His Mobile</h2>
                                    <ul class="read">
                                        <a href=""><li>Read More <i class='bx bx-right-arrow-alt'></i></li></a>
                                    </ul>
                                </div>
                            </div>
                          </div>
                      </div>
                      <div class="col-4">
                          <div class="boder_page">
                            <img src="assets/img/clothes_2.jpg" alt="">
                            <div class="row">
                                <div class="col-6 ">
                                    <div class="admin_page">
                                        <i class="fas fa-user"></i>
                                        <p>By Admin</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="date_page">
                                        <i class="fas fa-clock"></i>
                                        <p>10 January, 2020</p>
                                    </div>
                                </div>
                                <div class="item_page">
                                    <h2>Our Apps User Mobile On His Mobile</h2>
                                    <ul class="read">
                                        <a href=""><li>Read More <i class='bx bx-right-arrow-alt'></i></li></a>
                                    </ul>
                                </div>
                            </div>
                          </div>
                      </div>
                      <div class="col-4">
                          <div class="boder_page">
                            <img src="assets/img/clothes_1.jpg" alt="">
                            <div class="row">
                                <div class="col-6 ">
                                    <div class="admin_page">
                                        <i class="fas fa-user"></i>
                                        <p>By Admin</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="date_page">
                                        <i class="fas fa-clock"></i>
                                        <p>10 January, 2020</p>
                                    </div>
                                </div>
                                <div class="item_page">
                                    <h2>Our Apps User Mobile On His Mobile</h2>
                                    <ul class="read">
                                        <a href=""><li>Read More <i class='bx bx-right-arrow-alt'></i></li></a>
                                    </ul>
                                </div>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
  </div>
</main>
