<main>
  <div class="details_banner">
      <div class="container">
          <div class="page_title">
              <h2>Shop Page</h2>
              <ul class="breadcamp d-flex justify-content-lg-center">
                  <a href=""><li><i class="fas fa-home"></i></li></a>
                  <a href=""><li>Home</li></a>
                  <a href=""><li><i class="fas fa-angle-double-right"></i></li></a>
                  <a href=""><li>Shop page</li></a>
              </ul>
          </div>
      </div>
  </div>
  <!-- Image & Variation -->
  <div class="container">
      <div class="details_one">
          <div class="row">
              <div class="col-8">
                  <div class="product_img">
                      <div class="row">
                          <div class="col-2">
                              <div class="img_small">
                                  <a href=""><img src="assets/img/clothes_1.jpg" alt=""></a>
                                  <a href=""><img src="assets/img/clothes_2.jpg" alt=""></a>
                                  <a href=""><img src="assets/img/clothes_3.jpg" alt=""></a>
                                  <a href=""><img src="assets/img/clothes_4.jpg" alt=""></a>
                              </div>
                          </div>
                          <div class="col-10">
                              <div class="img_big">
                                  <a href=""><img src="assets/img/clothes_6.jpg" alt=""></a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-4">
                  <div class="product_variation">
                      <div class="product_title">
                          <h5>Emboossed Packet Backpack</h5>
                      </div>
                      <div class="price_rating d-flex">
                          <div class="product_price d-flex">
                              <p><b>$19.00</b></p>
                              <p><del>$29.00</del></p>
                          </div>
                          <ul class="rating d-flex">
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon_1"><i class="fas fa-star"></i></li>
                              <li><b>(22)</b></li>
                          </ul>
                      </div>
                      <div class="review">
                          <h6>Review:</h6>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis quisquam maxime mollitia dicta labori.</p>
                      </div>
                      <div class="card_color">
                          <h6>Color:</h6>
                          <p class="card_pink"></p>
                          <p class="card_gray"></p>
                          <p class="card_orange"></p>
                          <p class="card_blue"></p>
                          <p class="card_green"></p>
                          <p class="card_red"></p>
                      </div>
                      <div class="size">
                          <h6>Size:</h6>
                          <span>S</span>
                          <span>M</span>
                          <span>L</span>
                          <span>XS</span>
                          <span>XL</span>
                          <span>XXL</span>
                      </div>
                      <div class="product_text">
                          <div class="row">
                              <div class="col-3">
                                  <div class="text_shop">
                                      <p>SKU</p>
                                      <p>Categories</p>
                                      <p>Tags</p>
                                      <p>Share</p>
                                  </div>
                              </div>
                              <div class="col-9">
                                  <div class="text_gray">
                                      <p>11FSE7739</p>
                                      <p>Woman</p>
                                      <p>Fashion | Woman | Sale</p>
                                      <ul class="share d-flex">
                                          <a href=""><li><i class="bx bxl-facebook"></i></li></a>
                                          <a href=""><li><i class="bx bxl-twitter"></i></li></a>
                                          <a href=""><li><i class="bx bxl-instagram"></i></li></a>
                                          <a href=""><li><i class="bx bxl-pinterest-alt"></i></li></a>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="add_button">
                          <div class="quanlity">

                          </div>
                          <div class="add_to_cart">
                              <button>Add to Cart</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="details_two">
          <div class="description">
              <a href="">Description</a>
              <a href="">Additional information</a>
              <a href="">Review</a>
          </div>
          <div class="line_des">
              <p></p>
          </div>
          <div class="review_des">
              <div class="row">
                  <div class="col-1">
                      <div class="user_img">
                          <img src="assets/img/clothes_6.jpg" alt="">
                      </div>
                  </div>
                  <div class="col-11">
                      <div class="name_date d-flex">
                          <h5>Michie Jhon</h5>
                          <p>2 days ago</p>
                          <ul class="rating_des d-flex">
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon_1"><i class="fas fa-star"></i></li>
                          </ul>
                      </div>
                      <div class="text_review">
                          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente illo autem voluptates doloribus porro non rerum eaque laudantium id officiis? Obcaecati doloribus veritatis alias laboriosam repudiandae consectetur voluptatum tenetur in!</p>
                      </div>
                      <div class="reply">
                          <p><i class="fas fa-reply"></i> Reply</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="review_des">
              <div class="row">
                  <div class="col-1">
                      <div class="user_img">
                          <img src="assets/img/clothes_4.jpg" alt="">
                      </div>
                  </div>
                  <div class="col-11">
                      <div class="name_date d-flex">
                          <h5>Michie Jhon</h5>
                          <p>2 days ago</p>
                          <ul class="rating_des d-flex">
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon_1"><i class="fas fa-star"></i></li>
                          </ul>
                      </div>
                      <div class="text_review">
                          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente illo autem voluptates doloribus porro non rerum eaque laudantium id officiis? Obcaecati doloribus veritatis alias laboriosam repudiandae consectetur voluptatum tenetur in!</p>
                      </div>
                      <div class="reply">
                          <p><i class="fas fa-reply"></i> Reply</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="review_des">
              <div class="row">
                  <div class="col-1">
                      <div class="user_img">
                          <img src="assets/img/clothes_5.jpg" alt="">
                      </div>
                  </div>
                  <div class="col-11">
                      <div class="name_date d-flex">
                          <h5>Michie Jhon</h5>
                          <p>2 days ago</p>
                          <ul class="rating_des d-flex">
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon_1"><i class="fas fa-star"></i></li>
                          </ul>
                      </div>
                      <div class="text_review">
                          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente illo autem voluptates doloribus porro non rerum eaque laudantium id officiis? Obcaecati doloribus veritatis alias laboriosam repudiandae consectetur voluptatum tenetur in!</p>
                      </div>
                      <div class="reply">
                          <p><i class="fas fa-reply"></i> Reply</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="details_three">
          <div class="title_add">
              <a href="">Add your review</a>
          </div>
          <div class="rating_add d-flex">
              <h5>Your Rating</h5>
              <ul class="one_star">
                  <li id="icon_1"><i class="fas fa-star"></i></li>
              </ul>
              <ul class="two_star d-flex">
                  <li id="icon_1"><i class="fas fa-star"></i></li>
                  <li id="icon_1"><i class="fas fa-star"></i></li>
              </ul>
              <ul class="three_star d-flex">
                  <li id="icon_1"><i class="fas fa-star"></i></li>
                  <li id="icon_1"><i class="fas fa-star"></i></li>
                  <li id="icon_1"><i class="fas fa-star"></i></li>
              </ul>
              <ul class="four_star d-flex">
                  <li id="icon_1"><i class="fas fa-star"></i></li>
                  <li id="icon_1"><i class="fas fa-star"></i></li>
                  <li id="icon_1"><i class="fas fa-star"></i></li>
                  <li id="icon_1"><i class="fas fa-star"></i></li>
              </ul>
              <ul class="five_star d-flex">
                  <li id="icon"><i class="fas fa-star"></i></li>
                  <li id="icon"><i class="fas fa-star"></i></li>
                  <li id="icon"><i class="fas fa-star"></i></li>
                  <li id="icon"><i class="fas fa-star"></i></li>
                  <li id="icon"><i class="fas fa-star"></i></li>
              </ul>
          </div>
          <div class="form_text d-flex">
              <div class="form_name ">
                  <form action="">
                      <textarea name="" id="form" cols="70" rows="3">Your name</textarea>
                  </form>
              </div>
              <div class="form_email">
                  <form action="">
                      <textarea name="" id="form" cols="75" rows="3">E-mail address</textarea>
                  </form>
              </div>
          </div>
          <div class="form_email">
              <form action="">
                  <textarea name="" id="form" cols="150" rows="10">Your text here</textarea>
              </form>
          </div>
          <button class="btn-leave">Leave Review</button>
      </div>
      <div class="details_four">
          <div class="line_related">
              <p></p>
          </div>
          <div class="title_related">
              <h1>Related Products</h1>
          </div>
          <div class="Products_Related">
              <div class="row">
                  <div class="col-3">
                      <div class="list_related">
                          <div class="img_related">
                              <img src="assets/img/clothes_1.jpg" alt="">
                          </div>
                          <ul class="star_related">
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon_1"><i class="fas fa-star"></i></li>
                          </ul>
                          <h5>Baby Girls Dress Design</h5>
                          <div class="row">
                              <div class="col-6">
                                  <div class="mark_1">
                                      <p><del>$99.99</del></p>
                                  </div>
                              </div>
                              <div class="col-6">
                                  <div class="mark_2">
                                      <p>$79.99</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-3">
                      <div class="list_related">
                          <div class="img_related">
                              <img src="assets/img/clothes_2.jpg" alt="">
                              <div class="related">
                                  <h2>Sale</h2>
                              </div>
                          </div>
                          <ul class="star_related">
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon_1"><i class="fas fa-star"></i></li>
                          </ul>
                          <h5>Baby Girls Dress Design</h5>
                          <div class="row">
                              <div class="col-6">
                                  <div class="mark_1">
                                      <p><del>$99.99</del></p>
                                  </div>
                              </div>
                              <div class="col-6">
                                  <div class="mark_2">
                                      <p>$79.99</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-3">
                      <div class="list_related">
                          <div class="img_related">
                              <img src="assets/img/clothes_3.jpg" alt="">
                          </div>
                          <ul class="star_related">
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon_1"><i class="fas fa-star"></i></li>
                          </ul>
                          <h5>Baby Girls Dress Design</h5>
                          <div class="row">
                              <div class="col-6">
                                  <div class="mark_1">
                                      <p><del>$99.99</del></p>
                                  </div>
                              </div>
                              <div class="col-6">
                                  <div class="mark_2">
                                      <p>$79.99</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-3">
                      <div class="list_related">
                          <div class="img_related">
                              <img src="assets/img/clothes_4.jpg" alt="">
                              <div class="related">
                                  <h2>50% OFF</h2>
                              </div>
                          </div>
                          <ul class="star_related">
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon"><i class="fas fa-star"></i></li>
                              <li id="icon_1"><i class="fas fa-star"></i></li>
                          </ul>
                          <h5>Baby Girls Dress Design</h5>
                          <div class="row">
                              <div class="col-6">
                                  <div class="mark_1">
                                      <p><del>$99.99</del></p>
                                  </div>
                              </div>
                              <div class="col-6">
                                  <div class="mark_2">
                                      <p>$79.99</p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</main>
