<div class="shop_right">
  <div class="container">
      <div class="page_title">
          <h2>Shop Page</h2>
          <ul class="breadcamp d-flex justify-content-lg-center">
              <a href=""><li><i class="fas fa-home"></i></li></a>
              <a href=""><li>Home</li></a>
              <a href=""><li><i class="fas fa-angle-double-right"></i></li></a>
              <a href=""><li>Cart Page</li></a>
          </ul>
      </div>
  </div>
</div>
<div class="main">
  <div class="container">
      <div class="product_content">
          <div class="row">
              <div class="col-6">
                  <p><b>Product name</b></p>
              </div>
              <div class="col-6">
                  <div class="row">
                      <div class="col-4">
                          <p><b>Unit Price</b></p>
                      </div>
                      <div class="col-4">
                          <p><b>Quantity</b></p>
                      </div>
                      <div class="col-4">
                          <p><b>Total</b></p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="product_name">
          <div class="row">
              <div class="col-6">
                  <div class="product">
                      <img src="assets/img/clothes_1.jpg" alt="">
                      <p>Vintage Cotton Sweetshirt</p>
                  </div>
              </div>
              <div class="col-6">
                  <div class="price">
                      <div class="col-4">
                          <p id="price_red">$123.00</p>
                      </div>
                  <div class="col-4">
                      <div class="buttons_added">
                          <input class="minus is-form" type="button" value="-">
                          <input aria-label="quantity" class="input-qty" max="Số tối đa" min="Số tối thiểu" name="" type="number" value="">
                          <input class="plus is-form" type="button" value="+">
                        </div>
                  </div>
                  <div class="col-4">
                      <div class="total">
                          <p id="price_red">$125.00</p>
                          <img src="assets/img3/icon/Trash_icon.png" alt="">
                      </div>
                  </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-6">
                  <div class="product">
                      <img src="assets/img/clothes_2.jpg" alt="">
                      <p>Vintage Cotton Sweetshirt</p>
                  </div>
              </div>
              <div class="col-6">
                  <div class="price">
                      <div class="col-4">
                          <p id="price_red">$123.00</p>
                      </div>
                  <div class="col-4">
                      <div class="buttons_added">
                          <input class="minus is-form" type="button" value="-">
                          <input aria-label="quantity" class="input-qty" max="Số tối đa" min="Số tối thiểu" name="" type="number" value="">
                          <input class="plus is-form" type="button" value="+">
                        </div>
                  </div>
                  <div class="col-4">
                      <div class="total">
                          <p id="price_red">$125.00</p>
                          <img src="assets/img3/icon/Trash_icon.png" alt="">
                      </div>
                  </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-6">
                  <div class="product">
                      <img src="assets/img/clothes_3.jpg" alt="">
                      <p>Vintage Cotton Sweetshirt</p>
                  </div>
              </div>
              <div class="col-6">
                  <div class="price">
                      <div class="col-4">
                          <p id="price_red">$123.00</p>
                      </div>
                  <div class="col-4">
                      <div class="buttons_added">
                          <input class="minus is-form" type="button" value="-">
                          <input aria-label="quantity" class="input-qty" max="Số tối đa" min="Số tối thiểu" name="" type="number" value="">
                          <input class="plus is-form" type="button" value="+">
                        </div>
                  </div>
                  <div class="col-4">
                      <div class="total">
                          <p id="price_red">$125.00</p>
                          <img src="assets/img3/icon/Trash_icon.png" alt="">
                      </div>
                  </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="clear">
          <div class="row">
              <div class="col-6">
                  <div class="input-shopping">
                      <button>CLEAR SHOPPING CART</button>
                      <button>UPDATE SHOPPING CART</button>
                  </div>
                  <div class="input-code">
                      <h5>Coupon Code</h5>
                      <input type="text" name="" id="" placeholder="Enter coupon code">
                      <button>APPLY</button>
                  </div>
              </div>
              <div class="col-6">
                  <div class="con">
                      <button>CONTINUE SHOPPING</button>
                  </div>
                  <div class="input-code1">
                      <h5>Cart Total</h5>
                      <div class="sub">
                          <p>Subtotal</p>
                          <p style="color: red;">999.00$</p>
                      </div>
                      <div class="sub">
                          <p>Shipping cost</p>
                          <p style="color: red;">00.00$</p>
                      </div>
                      <div class="sub">
                          <p>Total</p>
                          <p style="color: red;">999.00$</p>
                      </div>
                      <button (click)="abc()">PROCEED TO CHECKOUT</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
