<div class="Products_1">
  <div class="row">
      <div class="col-6">
          <div class="list_shop">
              <div class="img_wrap">
                  <img src="assets/img/clothes_1.jpg" alt="">
                  <div class="overlay_3">
                      <h2>Sale</h2>
                  </div>
                  <div class="overload_3">
                      <ul class="btn_icon d-flex justify-content-center align-content-center">
                        <div class="search"><i class="bx bx-search"></i></div>
                        <div class="bag"><i class="fas fa-shopping-bag"></i></div>
                        <div class="heart"><i class="bx bx-heart"></i></div>
                      </ul>
                  </div>
              </div>
              <ul class="star">
                  <li id="icon"><i class="fas fa-star"></i></li>
                  <li id="icon"><i class="fas fa-star"></i></li>
                  <li id="icon"><i class="fas fa-star"></i></li>
                  <li id="icon"><i class="fas fa-star"></i></li>
                  <li id="icon_1"><i class="fas fa-star"></i></li>
              </ul>
              <h5 (click)="abc()">While Polo Men's T-Shirt</h5>
              <div class="row">
                  <div class="col-6">
                      <div class="mark_1">
                          <p>$34.00</p>
                      </div>
                  </div>
                  <div class="col-6">
                      <div class="mark_2">
                          <p><del>$27.00</del></p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-6">
        <div class="list_shop">
            <div class="img_wrap">
                <img src="assets/img/clothes_2.jpg" alt="">
                <div class="overlay_3">
                    <h2>Sale</h2>
                </div>
                <div class="overload_3">
                    <ul class="btn_icon d-flex justify-content-center align-content-center">
                      <div class="search"><i class="bx bx-search"></i></div>
                      <div class="bag"><i class="fas fa-shopping-bag"></i></div>
                      <div class="heart"><i class="bx bx-heart"></i></div>
                    </ul>
                </div>
            </div>
            <ul class="star">
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon_1"><i class="fas fa-star"></i></li>
            </ul>
            <h5 (click)="abc()">While Polo Men's T-Shirt</h5>
            <div class="row">
                <div class="col-6">
                    <div class="mark_1">
                        <p>$34.00</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mark_2">
                        <p><del>$27.00</del></p>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-6">
        <div class="list_shop">
            <div class="img_wrap">
                <img src="assets/img/clothes_3.jpg" alt="">
                <div class="overlay_3">
                    <h2>Sale</h2>
                </div>
                <div class="overload_3">
                    <ul class="btn_icon d-flex justify-content-center align-content-center">
                      <div class="search"><i class="bx bx-search"></i></div>
                      <div class="bag"><i class="fas fa-shopping-bag"></i></div>
                      <div class="heart"><i class="bx bx-heart"></i></div>
                    </ul>
                </div>
            </div>
            <ul class="star">
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon_1"><i class="fas fa-star"></i></li>
            </ul>
            <h5 (click)="abc()">While Polo Men's T-Shirt</h5>
            <div class="row">
                <div class="col-6">
                    <div class="mark_1">
                        <p>$34.00</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mark_2">
                        <p><del>$27.00</del></p>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-6">
        <div class="list_shop">
            <div class="img_wrap">
                <img src="assets/img/clothes_4.jpg" alt="">
                <div class="overlay_3">
                    <h2>Sale</h2>
                </div>
                <div class="overload_3">
                    <ul class="btn_icon d-flex justify-content-center align-content-center">
                      <div class="search"><i class="bx bx-search"></i></div>
                      <div class="bag"><i class="fas fa-shopping-bag"></i></div>
                      <div class="heart"><i class="bx bx-heart"></i></div>
                    </ul>
                </div>
            </div>
            <ul class="star">
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon_1"><i class="fas fa-star"></i></li>
            </ul>
            <h5 (click)="abc()">While Polo Men's T-Shirt</h5>
            <div class="row">
                <div class="col-6">
                    <div class="mark_1">
                        <p>$34.00</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mark_2">
                        <p><del>$27.00</del></p>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-6">
        <div class="list_shop">
            <div class="img_wrap">
                <img src="assets/img/clothes_5.jpg" alt="">
                <div class="overlay_3">
                    <h2>Sale</h2>
                </div>
                <div class="overload_3">
                    <ul class="btn_icon d-flex justify-content-center align-content-center">
                      <div class="search"><i class="bx bx-search"></i></div>
                      <div class="bag"><i class="fas fa-shopping-bag"></i></div>
                      <div class="heart"><i class="bx bx-heart"></i></div>
                    </ul>
                </div>
            </div>
            <ul class="star">
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon_1"><i class="fas fa-star"></i></li>
            </ul>
            <h5 (click)="abc()">While Polo Men's T-Shirt</h5>
            <div class="row">
                <div class="col-6">
                    <div class="mark_1">
                        <p>$34.00</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mark_2">
                        <p><del>$27.00</del></p>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-6">
        <div class="list_shop">
            <div class="img_wrap">
                <img src="assets/img/clothes_6.jpg" alt="">
                <div class="overlay_3">
                    <h2>Sale</h2>
                </div>
                <div class="overload_3">
                    <ul class="btn_icon d-flex justify-content-center align-content-center">
                      <div class="search"><i class="bx bx-search"></i></div>
                      <div class="bag"><i class="fas fa-shopping-bag"></i></div>
                      <div class="heart"><i class="bx bx-heart"></i></div>
                    </ul>
                </div>
            </div>
            <ul class="star">
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon_1"><i class="fas fa-star"></i></li>
            </ul>
            <h5 (click)="abc()">While Polo Men's T-Shirt</h5>
            <div class="row">
                <div class="col-6">
                    <div class="mark_1">
                        <p>$34.00</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mark_2">
                        <p><del>$27.00</del></p>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-6">
        <div class="list_shop">
            <div class="img_wrap">
                <img src="assets/img/clothes_1.jpg" alt="">
                <div class="overlay_3">
                    <h2>Sale</h2>
                </div>
                <div class="overload_3">
                    <ul class="btn_icon d-flex justify-content-center align-content-center">
                      <div class="search"><i class="bx bx-search"></i></div>
                      <div class="bag"><i class="fas fa-shopping-bag"></i></div>
                      <div class="heart"><i class="bx bx-heart"></i></div>
                    </ul>
                </div>
            </div>
            <ul class="star">
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon_1"><i class="fas fa-star"></i></li>
            </ul>
            <h5 (click)="abc()">While Polo Men's T-Shirt</h5>
            <div class="row">
                <div class="col-6">
                    <div class="mark_1">
                        <p>$34.00</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mark_2">
                        <p><del>$27.00</del></p>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-6">
        <div class="list_shop">
            <div class="img_wrap">
                <img src="assets/img/clothes_2.jpg" alt="">
                <div class="overlay_3">
                    <h2>Sale</h2>
                </div>
                <div class="overload_3">
                    <ul class="btn_icon d-flex justify-content-center align-content-center">
                      <div class="search"><i class="bx bx-search"></i></div>
                      <div class="bag"><i class="fas fa-shopping-bag"></i></div>
                      <div class="heart"><i class="bx bx-heart"></i></div>
                    </ul>
                </div>
            </div>
            <ul class="star">
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon_1"><i class="fas fa-star"></i></li>
            </ul>
            <h5 (click)="abc()">While Polo Men's T-Shirt</h5>
            <div class="row">
                <div class="col-6">
                    <div class="mark_1">
                        <p>$34.00</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mark_2">
                        <p><del>$27.00</del></p>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-6">
        <div class="list_shop">
            <div class="img_wrap">
                <img src="assets/img/clothes_3.jpg" alt="">
                <div class="overlay_3">
                    <h2>Sale</h2>
                </div>
                <div class="overload_3">
                    <ul class="btn_icon d-flex justify-content-center align-content-center">
                      <div class="search"><i class="bx bx-search"></i></div>
                      <div class="bag"><i class="fas fa-shopping-bag"></i></div>
                      <div class="heart"><i class="bx bx-heart"></i></div>
                    </ul>
                </div>
            </div>
            <ul class="star">
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon_1"><i class="fas fa-star"></i></li>
            </ul>
            <h5 (click)="abc()">While Polo Men's T-Shirt</h5>
            <div class="row">
                <div class="col-6">
                    <div class="mark_1">
                        <p>$34.00</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mark_2">
                        <p><del>$27.00</del></p>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="col-6">
        <div class="list_shop">
            <div class="img_wrap">
                <img src="assets/img/clothes_4.jpg" alt="">
                <div class="overlay_3">
                    <h2>Sale</h2>
                </div>
                <div class="overload_3">
                    <ul class="btn_icon d-flex justify-content-center align-content-center">
                      <div class="search"><i class="bx bx-search"></i></div>
                      <div class="bag"><i class="fas fa-shopping-bag"></i></div>
                      <div class="heart"><i class="bx bx-heart"></i></div>
                    </ul>
                </div>
            </div>
            <ul class="star">
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon"><i class="fas fa-star"></i></li>
                <li id="icon_1"><i class="fas fa-star"></i></li>
            </ul>
            <h5 (click)="abc()">While Polo Men's T-Shirt</h5>
            <div class="row">
                <div class="col-6">
                    <div class="mark_1">
                        <p>$34.00</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mark_2">
                        <p><del>$27.00</del></p>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>
