<div class="shop_right">
  <div class="container">
      <div class="page_title">
          <h2>Shop Page</h2>
          <ul class="breadcamp d-flex justify-content-lg-center">
              <a href=""><li><i class="fas fa-home"></i></li></a>
              <a href=""><li>Home</li></a>
              <a href=""><li><i class="fas fa-angle-double-right"></i></li></a>
              <a href=""><li>Blog page</li></a>
          </ul>
      </div>
  </div>
</div>
<main>
  <div class="container">
      <div class="row">
          <div class="col-8">
              <div class="bog-content">
                  <div class="row">
                      <div class="col-lg-6">
                          <div class="item-product wow rollIn" data-wow-duration="2s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: rollIn;">
                              <img id="img1" src="assets/img3/images/clothes_1.jpg" alt="">
            <div class="row">
              <div class="by-admin">
                <div class="col-6 d-flex">
                  <img id="smart-obj1" src="assets/img3/icon/user.png" alt="">
                  <p>By Admin</p>
                </div>
                <div class="col-6 d-flex">
                  <img id="smart-obj1" src="assets/img3/icon1/images/Shape 16.png" alt="">
                  <p>10 January 2020</p>
                </div>
              </div>
            </div>
            <div class="item-content">
              <h5>Out App User Use Mobile One His Mobile</h5>
              <p (click)="abc()">Read More -&gt;</p>
            </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="item-product wow bounceInRight" data-wow-duration="2s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: bounceInRight;">
                              <img id="img1" src="assets/img3/images/clothes_2.jpg" alt="">
        <div class="row">
          <div class="by-admin">
            <div class="col-6 d-flex">
              <img id="smart-obj1" src="assets/img3/icon/user.png" alt="">
              <p>By Admin</p>
            </div>
            <div class="col-6 d-flex">
              <img id="smart-obj1" src="assets/img3/icon1/images/Shape 16.png" alt="">
              <p>10 January 2020</p>
            </div>
          </div>
        </div>
        <div class="item-content">
          <h5>Out App User Use Mobile One His Mobile</h5>
          <p (click)="abc()">Read More -&gt;</p>
        </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-6">
                          <div class="item-product wow rollIn" data-wow-duration="2s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: rollIn;">
                              <img id="img1" src="assets/img3/images/clothes_3.jpg" alt="">
        <div class="row">
          <div class="by-admin">
            <div class="col-6 d-flex">
              <img id="smart-obj1" src="assets/img3/icon/user.png" alt="">
              <p>By Admin</p>
            </div>
            <div class="col-6 d-flex">
              <img id="smart-obj1" src="assets/img3/icon1/images/Shape 16.png" alt="">
              <p>10 January 2020</p>
            </div>
          </div>
        </div>
        <div class="item-content">
          <h5>Out App User Use Mobile One His Mobile</h5>
          <p (click)="abc()">Read More -&gt;</p>
        </div>
      </div>
  </div>
                      <div class="col-lg-6">
                          <div class="item-product wow bounceInRight" data-wow-duration="2s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: bounceInRight;">
                              <img id="img1" src="assets/img3/images/clothes_4.jpg" alt="">
        <div class="row">
          <div class="by-admin">
            <div class="col-6 d-flex">
              <img id="smart-obj1" src="assets/img3/icon/user.png" alt="">
              <p>By Admin</p>
            </div>
            <div class="col-6 d-flex">
              <img id="smart-obj1" src="assets/img3/icon1/images/Shape 16.png" alt="">
              <p>10 January 2020</p>
            </div>
          </div>
        </div>
        <div class="item-content">
          <h5>Out App User Use Mobile One His Mobile</h5>
          <p (click)="abc()">Read More -&gt;</p>
        </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-6">
                          <div class="item-product wow rollIn" data-wow-duration="2s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: rollIn;">
                              <img id="img1" src="assets/img3/images/clothes_5.jpg" alt="">
        <div class="row">
          <div class="by-admin">
            <div class="col-6 d-flex">
              <img id="smart-obj1" src="assets/img3/icon/user.png" alt="">
              <p>By Admin</p>
            </div>
            <div class="col-6 d-flex">
              <img id="smart-obj1" src="assets/img3/icon1/images/Shape 16.png" alt="">
              <p>10 January 2020</p>
            </div>
          </div>
        </div>
        <div class="item-content">
          <h5>Out App User Use Mobile One His Mobile</h5>
          <p (click)="abc()">Read More -&gt;</p>
        </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="item-product wow bounceInRight" data-wow-duration="2s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: bounceInRight;">
                              <img id="img1" src="assets/img3/images/clothes_6.jpg" alt="">
        <div class="row">
          <div class="by-admin">
            <div class="col-6 d-flex">
              <img id="smart-obj1" src="assets/img3/icon/user.png" alt="">
              <p>By Admin</p>
            </div>
            <div class="col-6 d-flex">
              <img id="smart-obj1" src="assets/img3/icon1/images/Shape 16.png" alt="">
              <p>10 January 2020</p>
            </div>
          </div>
        </div>
        <div class="item-content">
          <h5>Out App User Use Mobile One His Mobile</h5>
          <p (click)="abc()">Read More -&gt;</p>
        </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-6">
                          <div class="item-product wow rollIn" data-wow-duration="2s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: rollIn;">
                              <img id="img1" src="assets/img3/images/clothes_1.jpg" alt="">
        <div class="row">
          <div class="by-admin">
            <div class="col-6 d-flex">
              <img id="smart-obj1" src="assets/img3/icon/user.png" alt="">
              <p>By Admin</p>
            </div>
            <div class="col-6 d-flex">
              <img id="smart-obj1" src="assets/img3/icon1/images/Shape 16.png" alt="">
              <p>10 January 2020</p>
            </div>
          </div>
        </div>
        <div class="item-content">
          <h5>Out App User Use Mobile One His Mobile</h5>
          <p (click)="abc()">Read More -&gt;</p>
        </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="item-product wow bounceInRight" data-wow-duration="2s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: bounceInRight;">
                              <img id="img1" src="assets/img3/images/clothes_2.jpg" alt="">
        <div class="row">
          <div class="by-admin">
            <div class="col-6 d-flex">
              <img id="smart-obj1" src="assets/img3/icon/user.png" alt="">
              <p>By Admin</p>
            </div>
            <div class="col-6 d-flex">
              <img id="smart-obj1" src="assets/img3/icon1/images/Shape 16.png" alt="">
              <p>10 January 2020</p>
            </div>
          </div>
        </div>
        <div class="item-content">
          <h5>Out App User Use Mobile One His Mobile</h5>
          <p (click)="abc()">Read More -&gt;</p>
        </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-lg-6">
                          <div class="item-product wow rollIn" data-wow-duration="2s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: rollIn;">
                              <img id="img1" src="assets/img3/images/clothes_3.jpg" alt="">
        <div class="row">
          <div class="by-admin">
            <div class="col-6 d-flex">
              <img id="smart-obj1" src="assets/img3/icon/user.png" alt="">
              <p>By Admin</p>
            </div>
            <div class="col-6 d-flex">
              <img id="smart-obj1" src="assets/img3/icon1/images/Shape 16.png" alt="">
              <p>10 January 2020</p>
            </div>
          </div>
        </div>
        <div class="item-content">
          <h5>Out App User Use Mobile One His Mobile</h5>
          <p (click)="abc()">Read More -&gt;</p>
        </div>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="item-product wow bounceInRight" data-wow-duration="2s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 2s; animation-delay: 0.5s; animation-name: bounceInRight;">
                              <img id="img1" src="assets/img3/images/clothes_4.jpg" alt="">
        <div class="row">
          <div class="by-admin">
            <div class="col-6 d-flex">
              <img id="smart-obj1" src="assets/img3/icon/user.png" alt="">
              <p>By Admin</p>
            </div>
            <div class="col-6 d-flex">
              <img id="smart-obj1" src="assets/img3/icon1/images/Shape 16.png" alt="">
              <p>10 January 2020</p>
            </div>
          </div>
        </div>
        <div class="item-content">
          <h5>Out App User Use Mobile One His Mobile</h5>
          <p (click)="abc()">Read More -&gt;</p>
        </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="stand_more">
                  <button>LOAD MORE</button>
              </div>
          </div>
          <div class="col-4">
              <div class="search">
                  <h3>SEARCH</h3>
                  <div class="input-group">
                      <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon">
                      <button type="button" class="btn btn-outline-primary">search</button>
                  </div>
              </div>
              <div class="author">
                  <div class="author-img">
                      <img src="assets/img3/images/clothes_1.jpg" alt="">
                  </div>
                  <div class="name-design">
                      <h5>Tom D.Maianay</h5>
                      <p>CEO &amp; Founder</p>
                  </div>
                  <div class="text_stand">
                      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore modi ut molestias sequi dolore, et, nulla consequatur porro tempore mollitia cum nostrum corrupti fugiat iste numquam, alias praesentium temporibus cupiditate.</p>
                  </div>
                  <div class="social-icon">
                      <a href=""><img src="assets/img3/icon/facebook.png" alt=""></a>
                      <a href=""><img src="assets/img3/icon/twiter.png" alt=""></a>
                      <a href=""><img src="assets/img3/icon/google.png" alt=""></a>
                      <a href=""><img src="assets/img3/icon/p.png" alt=""></a>
                  </div>
              </div>
              <div class="latest-post">
                  <h3>LATEST POST</h3>
                  <div class="stand">
                      <div class="stand_img">
                          <img src="assets/img3/images/clothes_3.jpg" alt="">
                      </div>
                      <div class="stand-content">
                          <div class="stand-text">
                              <h6>Lorem ipsum dolor suitabl amet, adiping elit.</h6>
                          </div>
                          <div class="stand_date">
                              <img src="assets/img3/icon/Shape 1.png" alt="">
                              <p>16 Feb, 2019</p>
                          </div>
                      </div>
                  </div>
                  <div class="stand">
                      <div class="stand_img">
                          <img src="assets/img3/images/clothes_4.jpg" alt="">
                      </div>
                      <div class="blog-content">
                          <div class="blog-text">
                              <h6>Lorem ipsum dolor suitabl amet, adiping elit.</h6>
                          </div>
                          <div class="stand_date">
                              <img src="assets/img3/icon/Shape 1.png" alt="">
                              <p>16 Feb, 2019</p>
                          </div>
                      </div>
                  </div>
                  <div class="stand">
                      <div class="stand_img">
                          <img src="assets/img3/images/clothes_5.jpg" alt="">
                      </div>
                      <div class="blog-content">
                          <div class="blog-text">
                              <h6>Lorem ipsum dolor suitabl amet, adiping elit.</h6>
                          </div>
                          <div class="stand_date">
                              <img src="assets/img3/icon/Shape 1.png" alt="">
                              <p>16 Feb, 2019</p>
                          </div>
                      </div>
                  </div>
                  <div class="stand">
                      <div class="stand_img">
                          <img src="assets/img3/images/clothes_6.jpg" alt="">
                      </div>
                      <div class="blog-content">
                          <div class="blog-text">
                              <h6>Lorem ipsum dolor suitabl amet, adiping elit.</h6>
                          </div>
                          <div class="stand_date">
                              <img src="assets/img3/icon/Shape 1.png" alt="">
                              <p>16 Feb, 2019</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="categories">
                  <h3>CATEGORIES</h3>
                  <aside>
                      <ul>
                          <li><a href="">
                              <p>Women</p>
                              <p>48</p>
                          </a></li>
                          <li><a href="">
                              <p>Man</p>
                              <p>30</p>
                          </a></li>
                          <li><a href="">
                              <p>Sale Products</p>
                              <p>92</p>
                          </a></li>
                          <li><a href="">
                              <p>Fashion</p>
                              <p>121</p>
                          </a></li>
                          <li><a href="">
                              <p>Hot Dresses</p>
                              <p>52</p>
                          </a></li>
                          <li><a href="">
                              <p>Accesorier</p>
                              <p>88</p>
                          </a></li>
                      </ul>
                  </aside>
              </div>
              <div class="popular-tags">
                  <h3>POPULAR TAGS</h3>
                  <div id="tags_st">
                      <button>Sweetshirt</button>
                      <button>Man Accessories</button>
                      <button>Fashion</button>
                      <button>Polo</button>
                      <button>T-shirt</button>
                      <button>Jwelley</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</main>
