<div class="shop_right">
  <div class="container">
      <div class="page_title">
          <h2>Shop Page</h2>
          <ul class="breadcamp d-flex justify-content-lg-center">
              <a href=""><li><i class="fas fa-home"></i></li></a>
              <a href=""><li>Home</li></a>
              <a href=""><li><i class="fas fa-angle-double-right"></i></li></a>
              <a href=""><li>Contact Us</li></a>
          </ul>
      </div>
  </div>
</div>
<main>
  <div class="container">
      <img id="img-top" src="assets/img/contact.jpg" alt="">
      <div class="row">
          <div class="col-4">
               <div class="get-info">
                   <div class="title-text">
                       <h1>Feel Free Don't Hesitate To Contact With Us</h1>
                       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore aut officiis iusto libero consequuntur consectetur, fugit rem doloribus enim a suscipit? Esse ducimus maxime ab numquam vero minima ea veniam.</p>
                   </div>
                   <div class="phone">
                       <img src="assets/img3/images/19_contact_us_page_03.jpg" alt="">
                       <div class="phone-content">
                           <p>+012-345-6789</p>
                           <p>+012-345-6789</p>
                       </div>
                   </div>
                   <div class="phone">
                       <img src="assets/img3/images/19_contact_us_page_06.jpg" alt="">
                       <div class="phone-content">
                           <p>Ranlon market 789 Road</p>
                           <p>Market Street, Newyork</p>
                       </div>
                   </div>
                   <div class="phone">
                       <img src="assets/img3/images/19_contact_us_page_08.jpg" alt="">
                       <div class="phone-content">
                           <p>yourmail@gmail.com</p>
                           <p>companymail@gmai.com</p>
                       </div>
                   </div>
               </div>
          </div>
          <div class="col-8">
              <form action="" class="form">
                <h4>Contact Form</h4>
                <div class="d-flex">
                    <input id="input2" style="margin-right: 10px;" type="text" placeholder="Your Name">
                    <input type="email" id="input4" placeholder="Your E-mail Address">
                </div>
                <input id="input1" type="text" placeholder="Subject">
                <textarea name="" id="input3" rows="10" placeholder="Mesage here"></textarea>
                <button>SEND MESAGE</button>
              </form>
          </div>
      </div>
  </div>
</main>
