<main>
  <div class="shop_right">
      <div class="container">
          <div class="page_title">
              <h2>Shop Page</h2>
              <ul class="breadcamp d-flex justify-content-lg-center">
                  <a href=""><li><i class="fas fa-home"></i></li></a>
                  <a href=""><li>Home</li></a>
                  <a href=""><li><i class="fas fa-angle-double-right"></i></li></a>
                  <a href=""><li>Register</li></a>
              </ul>
          </div>
      </div>
    </div>
  <div class="container">
      <div class="register_form">
          <div class="tab d-flex justify-content-center">
              <h4>REGISTER</h4>
              <h4>LOGIN</h4>
          </div>
          <div class="register_web">
              <form action="action_page.php">
                  <div class="container">
                    <hr>
                    <label for="email"><b>Email</b></label>
                    <input type="text" placeholder="Enter Email" name="email" id="email" required="">
                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" id="psw" required="">
                    <label for="psw-repeat"><b>Repeat Password</b></label>
                    <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required="">
                    <hr>
                    <p>By creating an account you agree to our <a href="#">Terms &amp; Privacy</a>.</p>
                    <button type="submit" class="registerbtn">Register</button>
                  </div>
                  <div class="container signin">
                    <p>Already have an account? <a href="#">Sign in</a>.</p>
                  </div>
                </form>
          </div>
      </div>
  </div>
</main>
